$color-red: #ee4248;
$bacground: #f6f6f6;
* {
  font-family: "Roboto", sans-serif;
}
.navbar {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 7px #dfdfdf;
  display: flex;
  z-index: 9999;
  .navbar-toggle {
    display: none;
  }

  .navbar-items {
    display: contents;
    .items {
      display: contents;
      list-style: none;
      .droppdown {
        position: relative;
        &:hover i {
          transform: rotate(-180deg);
          transition: 0.3s;
        }

        .droppdown-content {
          width: 200px;
          transform: scaleY(0);
          transform-origin: top;
          transition: 0.3s;
          background-color: white;
          position: absolute;
          list-style: none;
          padding: 1rem;
          margin: 0 10px;
          box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.07);

          li {
            padding: 10px;
            &:hover {
              background-color: #f4f5f8;
            }
          }
        }
        &:hover .droppdown-content {
          transform: scale(1);
        }
        .about {
          left: -60%;
        }
        .client {
          left: -60%;
        }
      }
      .links {
        color: #4c585d;
        cursor: pointer;
        position: relative;
        &:hover {
          #underline:after {
            width: 100%;
            opacity: 1;
            left: 0;
          }
        }
        #underline {
          &::after {
            content: "";
            width: 0;
            position: absolute;
            border: 1px solid #ee4248;
            bottom: 0;
            right: 0;
            transform-origin: center;
            opacity: 0;
            transition: 0.3s;
            transition-timing-function: ease-out;
          }
        }

        a {
          text-decoration: none;
          color: #4c585d;
          cursor: pointer;
        }
        i {
          margin-left: 5px;
          font-size: 14px;
          transform: rotate(0deg);
          transition: 0.3s;
        }
      }
    }
    .nav-icons {
      span {
        cursor: pointer;
      }
    }
  }
}
.toggle-menu {
  position: fixed;
  bottom: 0;
  top: 74px;
  left: 0;
  display: flex;
  justify-content: space-between;
  line-height: 3;
  background: white;
  flex-direction: column;
  z-index: 1;
  transition: 0.8s;
  height: calc(100% - 74px);
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;

  .items-toggle {
    font-size: 24px;
    list-style: none;
    a {
      text-decoration: none;
      color: #4c585d;
    }
  }
  .nav-icons {
    display: flex;
    list-style: none;
    background-color: white;
    img {
      width: 24px;
    }
  }
}
.footer-adress {
  font-weight: 300;
  line-height: 0.5;
}
.footer-tittle {
  padding-top: 10px;
}
.footer-img {
  width: 100%;
  img {
    max-width: 110px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 8px;
  }
}
.footer-border {
  background-color: #ee4248;
  width: 100%;
  height: 64px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding-top: 10px;
  }
}
//utilities
.btn-basis {
  color: #fff;
  background-color: $color-red;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 6px 14px;
  &:hover {
    background-color: #ec2b31;
  }
}
.text-color-red {
  color: $color-red;
}
.text-color-blue {
  color: #30444e;
}
.bg-basis {
  background-color: $bacground;
}
.mt-mine {
  margin-top: 1.5rem;
}
.pt-mt-mix {
  padding-top: 1.5rem;
  margin-top: 1rem;
}

.text-bold {
  font-weight: bold;
}
.block-scroll {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.line-normal {
  line-height: normal;
}
.line-high {
  line-height: 1.5;
}
.fw-300 {
  font-weight: 300;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

//Page 3
.contain {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  .content-dots-img {
    display: flex;
    align-items: flex-end;
    img:first-of-type {
      max-height: 30%;
      position: absolute;
      left: 0;
    }
  }
}
.full-line {
  width: 100%;
  height: 17px;
  background-color: $color-red;
}

@media only screen and(max-width:1200px) {
  .center-text-xl {
    text-align: center;
  }
  .video {
    width: 91%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .navbar-toggle {
    display: flex;
    justify-content: space-between;
  }
  .navbar .navbar-items {
    display: none;
  }
  .active {
    transform: scale(1);
  }
  .order-primary {
    order: 1;
  }
  .order-second {
    order: 2;
  }

  .center-text {
    text-align: center;
  }
  .footer-adress {
    line-height: 1.5;
  }
  .mt-mine {
    margin-top: 11px;
  }
  .pt-mt-mix {
    margin-top: 5px;
    padding-top: 0;
  }
  .pt-responsive {
    padding-top: 5rem;
  }
  .video-text-2 {
    padding-top: 0;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .fs-responsive {
    font-size: 39px;
  }
}

@media only screen and(max-width: 392px) {
  .footer-img {
    img {
      max-width: 70px;
    }
  }
  .footer-border {
    p {
      font-size: 13px;
    }
  }
  .fs-responsive {
    font-size: 28px;
  }
  .img-responsive {
    max-width: 85%;
  }
}
