$color-red: #ee4248;
$bacground: #f6f6f6;
* {
  font-family: "Roboto", sans-serif;
}
.navbar {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 7px #dfdfdf;
  display: flex;
  z-index: 9999;
  .navbar-toggle {
    display: none;
  }
  .logo {
  }
  .navbar-items {
    display: contents;
    .items {
      display: contents;
      list-style: none;
      .links {
        color: #4c585d;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #4c585d;
        }
        i {
          margin-left: 5px;
          font-size: 14px;
        }
      }
    }
    .nav-icons {
      span {
        cursor: pointer;
      }
    }
  }
}
.toggle-menu {
  position: fixed;
  bottom: 0;
  top: 74px;
  left: 0;
  display: flex;
  justify-content: space-between;
  line-height: 3;
  background: white;
  flex-direction: column;
  z-index: 1;
  transition: 0.8s;
  height: calc(100% - 74px);
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;

  .items-toggle {
    font-size: 24px;
    list-style: none;
    a {
      text-decoration: none;
      color: #4c585d;
    }
  }
  .nav-icons {
    display: flex;
    list-style: none;
    background-color: white;
    img {
      width: 24px;
    }
  }
}
.footer-adress {
  font-weight: 300;
  line-height: 0.5;
}
.footer-tittle {
  padding-top: 10px;
}
.footer-img {
  width: 100%;
  img {
    max-width: 110px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 8px;
  }
}
.footer-border {
  background-color: #ee4248;
  width: 100%;
  height: 64px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding-top: 10px;
  }
}
.btn-basis {
  color: #fff;
  background-color: $color-red;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 6px 14px;
  &:hover {
    background-color: #ec2b31;
  }
}
.text-color-red {
  color: $color-red;
}
.text-color-blue {
  color: #30444e;
}
.bg-basis {
  background-color: $bacground;
}
.mt-mine {
  margin-top: 1.5rem;
}
.pt-mt-mix {
  padding-top: 1.5rem;
  margin-top: 1rem;
}

.text-bold {
  font-weight: bold;
}
.block-scroll {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.line-normal {
  line-height: normal;
}
.line-high {
  line-height: 1.5;
}
.fw-300 {
  font-weight: 300;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

//Page 2
.fs-responsive {
  font-size: 48px;
}
.line {
  max-width: 100%;
}

.content-text {
  margin-top: 5px;
  text-align: justify;
  font-size: 18px;
  p {
    margin-bottom: 2rem;
  }
}
.video-text {
  position: relative;
  padding-left: 55px;
  h5 {
    margin-bottom: 1rem;
    &:first-of-type {
      &::before {
        content: url("./../img/Vector.svg");
        position: absolute;
        left: 0;
      }
    }
    &:last-of-type {
      &::before {
        content: url("./../img/Vector\ \(1\).svg");
        position: absolute;
        left: 0;
      }
    }
  }
  p {
    margin-bottom: 2rem;
  }
}
.video {
  width: 78%;
  height: 100%;
  border-radius: 14px;
}
.pt-responsive {
  padding-top: 3rem;
}
.bg-red {
  background-color: $color-red;
}
.video-text-2 {
  width: 78%;
  text-align: justify;
  padding-top: 3rem;
}
.contact-tittle {
  text-align: center;
  &::after {
    content: url("./../img/Line\ 1.svg");
  }
}
.contact-main {
  padding: 4rem 0 0 2rem;
  .contact-content {
    display: flex;
    .contact-body {
      margin-left: 2rem;
    }
    padding-bottom: 3rem;
    &:first-child::before {
      content: url("./../img/Group\ 1323.svg");
    }
    &:nth-child(2)::before {
      content: url("./../img/Group\ 1319.svg");
    }
    &:last-child::before {
      content: url("./../img/Group\ 1321.svg");
    }
  }
}
@media only screen and(max-width:1200px) {
  .center-text-xl {
    text-align: center;
  }
  .video {
    width: 91%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .navbar-toggle {
    display: flex;
    justify-content: space-between;
  }
  .navbar .navbar-items {
    display: none;
  }
  .active {
    transform: scale(1);
  }
  .order-primary {
    order: 1;
  }
  .order-second {
    order: 2;
  }

  .center-text {
    text-align: center;
  }
  .footer-adress {
    line-height: 1.5;
  }
  .mt-mine {
    margin-top: 11px;
  }
  .pt-mt-mix {
    margin-top: 5px;
    padding-top: 0;
  }
  .pt-responsive {
    padding-top: 5rem;
  }
  .video-text-2 {
    padding-top: 0;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .fs-responsive {
    font-size: 39px;
  }
}

@media only screen and(max-width: 392px) {
  .footer-img {
    img {
      max-width: 70px;
    }
  }
  .footer-border {
    p {
      font-size: 13px;
    }
  }
  .fs-responsive {
    font-size: 28px;
  }
  .img-responsive {
    max-width: 85%;
  }
}
